// Generic
$base-spacing: 1rem;
$bs: $base-spacing;
$xxs: $bs * .25;
$xs: $bs * .5; // 8
$sm: $bs * .75; // 12px
$md: $bs * 1; // 16px
$lg: $bs * 1.5; // 24px
$xl: $bs * 1.75; // 28px
$xxl: $bs * 2.75; // 44px


